{% extends "blog/base.html" %}


{% block title %}
    {{ post.title }}
{% endblock %}

<div class="mt-6 bg-gray-50">
<!--posts by this author block to be included here-->
<!--end posts by this author block-->
    <div class=" px-10 py-6 mx-auto">

            {% block content %}
             <!--post-featured-image-->
                <div class="max-w-6xl px-10 py-6 mt-8 mx-auto bg-gray-50">
                       
                        <div class="mt-2">
                        <!-- featured image-->
                        <a href="#_" class="block transition duration-200 ease-out transform hover:scale-110">
                              <img class="object-cover w-full shadow-sm " src="{{ post.featured_image.url }}"
                                alt="{{post.title}}">
                          </a>


                              <!--post tags-->
		                      <div class="flex items-center justify-start mt-4 mb-4">
                            {% for tag in post.tags.all %}
                        	  <a href="{% url "blog:post_list_by_tag" tag.slug %}"class="px-2 py-1 font-bold bg-red-400 text-white rounded-lg hover:bg-gray-500 mr-4">{{ tag.name }}</a>
                            {% if not forloop.last %} {% endif %} 
                            {% endfor %}
                          </div>

                        	<!--post heading-->
                        	<h2 class="sm:text-3xl md:text-3xl lg:text-3xl xl:text-4xl font-bold text-purple-500  hover:underline">{{ post.title }}</h2>
                            

                                <!--author avator-->
                               <div class="font-light text-gray-600">
	                              
	                        		<a href="#" class="flex items-center mt-6 mb-6">
	                                    <h1 class="font-bold text-gray-700 hover:underline">By {{ post.author }}</h1><span>Published {{ post.publish }}</span>
	                                </a>
                              
                        	  </div>
                            
                       </div>
                            <!--post content-->
                 <div class="max-w-4xl px-10  mx-auto text-2xl text-gray-700 mt-4 rounded bg-gray-100">

                 	<!--content body-->
                 	<div>
                    <p class="mt-2 p-8 ">{{ post.body|linebreaks }}</p>
                </div>
			</div>

    <!--related posts-->   
        <h2 class="text-2xl mt-12 text-gray-500 font-bold text-center">Related Posts</h2>
          <div class="flex items-center mt-8 w-full px-8 py-6  text-center">
          {% for post in similar_posts %}
          
            <div class="">
              <!-- featured image-->
		                <a href="#_" class="block transition duration-200 ease-out transform hover:scale-110">
	                        <img class="object-cover w-full shadow-sm max-h-80" src="{{ post.featured_image.url }}"
                            alt="{{post.title}}">
	                    </a>
            
              <div class="relative flex flex-col items-start px-6 bg-white border border-t-0 border-gray-200 py-7 rounded-b-2xl">
                <h2 class="text-base text-gray-500 font-bold sm:text-lg md:text-xl"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>  
              </div>

            </div>
              {% empty %}
              There are no posts related to this one yet.
          
          {% endfor %}
        </div>
 
    <!--end related posts-->
<!--comment success message-->
      {% if new_comment %}
          <!--success message-->
        <div class="w-full text-white bg-green-500 mt-4">
          <div class="container flex items-center justify-between px-6 py-4 mx-auto">
            <div class="flex">
                <svg viewBox="0 0 40 40" class="w-6 h-6 fill-current">
                    <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"></path>
                </svg>

                <p class="mx-3">Your comment has been added.</p>
            </div>
            <button class="p-1 transition-colors duration-200 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none">
                <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
          </div>
      </div>
      <!--end success message-->
      <!--comment form-->
            {% else %}
          <div class="max-w-4xl py-16 xl:px-8 flex justify-center mx-auto">
            <div class="w-full mt-16 md:mt-0 ">
              <form action="." method="post" class="relative z-10 h-auto p-8 py-10 overflow-hidden bg-white border-b-2 border-gray-300 rounded-lg shadow-2xl px-7">
                <h3 class="mb-6 text-2xl font-medium text-center">Write a comment</h3>
                {{ comment_form.as_p }}
                {% csrf_token %}
                <input type="submit" value="Submit comment" class=" text-white px-4 py-3 bg-blue-500  rounded-lg">
              </form>
              </div>
          </div>
        {% endif %} 
    <!--end comment form-->
    	<!--comments count-->
		<div class="max-w-4xl px-10 py-16 mx-auto bg-gray-100  bg-white min-w-screen animation-fade animation-delay  px-0 px-8 mx-auto sm:px-12 xl:px-5">
		    {% with comments.count as total_comments %}
          <p class="mt-1 text-2xl font-bold text-left text-gray-800 sm:mx-6 sm:text-2xl md:text-3xl lg:text-4xl sm:text-center sm:mx-0">
             We have {{ total_comments }} comment{{ total_comments|pluralize }} on this post</p> 
          {% endwith %}
        <!--end comments count-->
        <!--comments display-->
          {% for comment in comments %}
        
		        <!--comment 1-->
            
		        <div class="flex  items-center w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3">
                
		            <div><h3 class="text-lg font-bold text-purple-500 sm:text-xl md:text-2xl">Comment {{ forloop.counter }} by {{ comment.name }}</h3>
		            	<p class="text-sm font-bold text-gray-300">{{ comment.created }}</p>
		            	<p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal"> {{ comment.body|linebreaks }}</p>
		            </div>
		            
		        </div>
            
              {% endfor %}
		<!--end comments display--> 
          </div>
		    </div>

    {% endblock %}
  </div>

</div>



